In [54]:
import pandas as pd
import numpy as np

In [55]:
data = pd.read_csv('snsdata.csv')
data.head()

,gradyear,gender,age,friends,basketball,football,soccer,softball,volleyball,swimming,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
0,2006,M,18.982,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2006,F,18.801,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,2006,M,18.335,69,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2006,F,18.875,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2006,NaN,18.995,10,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,1,1

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 40 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gradyear      30000 non-null  int64
 1   gender        27276 non-null  object
 2   age           24914 non-null  float64
 3   friends       30000 non-null  int64
 4   basketball    30000 non-null  int64
 5   football      30000 non-null  int64
 6   soccer        30000 non-null  int64
 7   softball      30000 non-null  int64
 8   volleyball    30000 non-null  int64
 9   swimming      30000 non-null  int64
 10  cheerleading  30000 non-null  int64
 11  baseball      30000 non-null  int64
 12  tennis        30000 non-null  int64
 13  sports        30000 non-null  int64
 14  cute          30000 non-null  int64
 15  sex           30000 non-null  int64
 16  sexy          30000 non-null  int64
 17  hot           30000 non-null  int64
 18  kissed        30000 non-null  int64
 19  dance         30000 non-null  int64
 20  band          30000 non-null  int64
 21  marching      30000 non-null  int64
 22  music         30000 non-null  int64
 23  rock          30000 non-null  int64
 24  god           30000 non-null  int64
 25  church        30000 non-null  int64
 26  jesus         30000 non-null  int64
 27  bible         30000 non-null  int64
 28  hair          30000 non-null  int64
 29  dress         30000 non-null  int64
 30  blonde        30000 non-null  int64
 31  mall          30000 non-null  int64
 32  shopping      30000 non-null  int64
 33  clothes       30000 non-null  int64
 34  hollister     30000 non-null  int64
 35  abercrombie   30000 non-null  int64
 36  die           30000 non-null  int64
 37  death         30000 non-null  int64
 38  drunk         30000 non-null  int64
 39  drugs         30000 non-null  int64
dtypes: float64(1), int64(38), object(1)
memory usage: 9.2+ MB

In [58]:
df = data.iloc[:, 4:]
display(df.head())
df.shape

,basketball,football,soccer,softball,volleyball,swimming,cheerleading,baseball,tennis,sports,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,1,1

(30000, 36)

In [59]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df)
col = df.columns
X_norm = scaler.transform(df)
X_norm = pd.DataFrame(X_norm,columns=col)
X_norm

,basketball,football,soccer,softball,volleyball,swimming,cheerleading,baseball,tennis,sports,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
0,-0.332217,-0.357697,-0.242874,-0.217928,-0.22367,-0.259971,-0.207327,-0.201131,-0.168939,-0.297123,...,-0.050937,-0.369915,-0.487314,-0.314198,-0.201476,-0.183032,-0.294793,-0.261530,-0.220403,-0.174908
1,-0.332217,1.060049,-0.242874,-0.217928,-0.22367,-0.259971,-0.207327,-0.201131,-0.168939,-0.297123,...,-0.050937,1.067392,-0.487314,-0.314198,-0.201476,-0.183032,-0.294793,-0.261530,-0.220403,-0.174908
2,-0.332217,1.060049,-0.242874,-0.217928,-0.22367,-0.259971,-0.207327,-0.201131,-0.168939,-0.297123,...,-0.050937,-0.369915,-0.487314,-0.314198,-0.201476,-0.183032,-0.294793,2.027908,-0.220403,-0.174908
3,-0.332217,-0.357697,-0.242874,-0.217928,-0.22367,-0.259971,-0.207327,-0.201131,-0.168939,-0.297123,...,-0.050937,-0.369915,-0.487314,-0.314198,-0.201476,-0.183032,-0.294793,-0.261530,-0.220403,-0.174908
4,-0.332217,-0.357697,-0.242874,-0.217928,-0.22367,-0.259971,-0.207327,-0.201131,-0.168939,-0.297123,...,-0.050937,-0.369915,2.273673,-0.314198,-0.201476,-0.183032,-0.294793,-0.261530,2.285122,2.719316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,-0.332217,-0.357697,-0.242874,-0.217928,-0.22367,-0.259971,-0.207327,-0.201131,-0.168939,-0.297123,...,-0.050937,-0.369915,-0.487314,-0.314198,-0.201476,-0.183032,-0.294793,-0.261530,-0.220403,-0.174908
29996,-0.332217,1.060049,-0.242874,-0.217928,-0.22367,-0.259971,-0.207327,-0.201131,-0.168939,-0.297123,...,-0.050937,-0.369915,-0.487314,-0.314198,-0.201476,-0.183032,-0.294793,-0.261530,-0.220403,-0.174908
29997,-0.332217,1.060049,-0.242874,-0.217928,-0.22367,-0.259971,-0.207327,1.715616,-0.168939,-0.297123,...,-0.050937,-0.369915,-0.487314,-0.314198,-0.201476,-0.183032,-0.294793,-0.261530,-0.220403,-0.174908
29998,-0.332217,-0.357697,-0.242874,-0.217928,-0.22367,-0.259971,-0.207327,-0.201131,-0.168939,-0.297123,...,-0.050937,-0.369915,-0.487314,-0.314198,-0.201476,-0.183032,-0.294793,-0.261530,-0.220403,-0.174908
29999,2.153199,-0.357697,-0.242874,1.133982,-0.22367,-0.259971,-0.207327,-0.201131,-0.168939,-0.297123,...,-0.050937,-0.369915,-0.487314,-0.314198,-0.201476,-0.183032,-0.294793,-0.261530,-0.220403,-0.174908

In [60]:
X = df.values
scaler = StandardScaler()
scaler.fit(X)
X_norm = scaler.transform(X)
X_norm[0][0]

-0.3322172643985876

In [61]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters=9, random_state=42)
model.fit(X_norm)
model.inertia_

856276.696246784

In [48]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters=9,random_state=42)
model.fit(X_norm)
model.inertia_

877378.8271498485

In [43]:
X_norm['pred_y'] = model.predict(X_norm)
X_norm['pred_y'].value_counts()

pred_y
2    18844
8     4364
3     2218
6     1154
4      872
5      837
1      748
7      534
0      429
Name: count, dtype: int64